server:
  port: 8082
  session:
    timeout: 3600
spring:
  profiles:
    include: mapper
  http:
    encoding:
      charset: UTF-8
  thymeleaf:
    mode: LEGACYHTML5
    cache: false
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    platform: mysql
    url: jdbc:mysql://127.0.0.1:3306/ppx?useUnicode=true&characterEncoding=UTF8
    initialSize: 1
    minIdle: 3
    maxActive: 20

    maxWait: 60000

    timeBetweenEvictionRunsMillis: 60000

    minEvictableIdleTimeMillis: 30000
    validationQuery: select 1
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false

    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20

    filters: stat,wall,slf4j

    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
mybatis:
  type-aliases-package: com.paopaoxiong.ppx.model
  mapper-locations: classpath:mapper/*/*Mapper.xml
  logging:
    level:
      root: info
      org.mybatis: info

logging:
  level: debug

