<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paopaoxiong.ppx.mapper.system.UserRoleMapper">
    <resultMap id="UserRoleResultMap" type="com.paopaoxiong.ppx.model.system.UserRole">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,user_id,role_id, status,create_user,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') create_time ,update_user,DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') update_time
    </sql>

    <sql id="query_where_condition">
        <where>
            <if test="id != null and id > 0 ">id = #{id}</if>
            <if test="userId != null and userId != '' ">and user_id = #{userId}</if>
            <if test="role_id != null and role_id != '' ">and role_id = #{role_id}</if>
            <if test="status != null and status != '' ">and status = #{status}</if>
            <if test="createUser != null and createUser != '' ">and create_user = #{createUser}</if>
            <if test="createTime != null and createTime != '' ">and create_time = #{createTime}</if>
            <if test="updateUser != null and updateUser != '' ">and update_user = #{updateUser}</if>
            <if test="updateTime != null and updateTime != '' ">and update_time = #{updateTime}</if>
        </where>
    </sql>


    <select id="queryAllUserRole" parameterType="com.paopaoxiong.ppx.model.system.UserRole" resultMap="UserRoleResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user_role
        <include refid="query_where_condition"/>
    </select>

    <delete id="removeByUserId" parameterType="java.lang.Integer">
        DELETE FROM  sys_user_role WHERE user_id = #{id}
    </delete>

    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO
        sys_user_role(user_id,role_id,status,create_user,create_time,update_user,update_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId},#{item.roleId},#{item.status},#{item.createUser},#{item.createTime},#{item.updateUser},#{item.updateTime})
        </foreach>
    </insert>

    <select id="getRoleIdListByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT role_id FROM sys_user_role where user_id=#{userId}
    </select>
</mapper>